<div class="container">
  <form #form="ngForm" (ngSubmit)="updateEmployee()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)] = "employeeDetails.name">
    </div>
    <div class="form-group">
      <label>Role</label>
      <input type="text" class="form-control" name="role" [(ngModel)] = "employeeDetails.role">
    </div>
    <div class="form-group">
      <label>Department</label>
      <input type="text" class="form-control" name="department" [(ngModel)] = "employeeDetails.department">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)] = "employeeDetails.email">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" [(ngModel)] = "employeeDetails.phone">
    </div>
    <button class="btn btn-primary tw-mt-2">Save</button>
  </form>
</div>